body {
  background-color: #023020;
  border-style: solid;
  border-color: cyan;
}

marquee {
  margin-top: 0px;
  background-color: black;
  color: cyan;
}

.flicker {
  -webkit-animation: flicker 3s infinite;
}

.title {
  font-size: 500%;
  font-family: 'Brush Script MT', cursive;
  margin-bottom: -1%;
}

h1, h2 {
  color: cyan;
  text-align: center;
}

@-webkit-keyframes flicker {
  0% {opacity:0;}
  9% {opacity:0;}
  10% {opacity:.5;}
  13% {opacity:0;}
  20% {opacity:.5;}
  25% {opacity:1;}
}

h2 {
  text-align: center;
  white-space: nowrap;
}

footer {
  height: 50%;
  background-color: darkgreen;
}

table {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border-collapse: collapse;
}

th {
  background-color: green;
}

th, td {
  border:1px solid cyan;
  text-align: center;
  color: white;
}

.subtitle {
  text-align: center;
  background-color: black;
  color: cyan;
}

p {
  color: white;
  text-align: center;
  font-family: 'Courier New', monospace;
  padding-left: 5%;
  padding-right: 5%;
}

.banner {
    background-color: black;
    background-image: url('rain.gif');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 1%;
}
