body {
  background-color: powderblue;
  background-image: url('cat2.jpg');
}

h1 {
  color: blue;
}

p {
  color: red;
}

.banner {
    /* The image used */
    background-image: url('cat.jpg');
    background-attachment: fixed;
}
