body {
  background-color: #023020;
  border-style: solid;
  border-color: cyan;
}

marquee {
  margin-top: 0px;
  background-color: black;
  color: cyan;
}

.title {
  font-size: 500%;
  font-family: 'Brush Script MT', cursive;
  margin-bottom: -1%;
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  align-self:flex-end;
  text-align: center;
}

h2 {
  color: cyan;
  text-align: center;
  white-space: nowrap;
}

footer {
  height: 50%;
  background-color: darkgreen;
}

table {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border-collapse: collapse;
}

th {
  background-color: green;
}

th, td {
  border:1px solid cyan;
  text-align: center;
  color: white;
}

.subtitle {
  text-align: center;
  background-color: black;
  color: cyan;
}

p {
  color: white;
  text-align: center;
  font-family: 'Courier New', monospace;
  padding-left: 5%;
  padding-right: 5%;
}

.banner {
    background-color: black;
    background-image: url('rain.gif');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.logo {
  background-image: url('computer_science_club_ai_logo1.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5%;
  width: 80px;
  height: 80px;
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
